[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = unitygbcmc38
	email = 124207084+unitygbcmc38@users.noreply.github.com
